name: Pkg-PR-New
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - "**"
    tags:
      - "!**"

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-ppn
  cancel-in-progress: true

jobs:
  build:
    name: Build and Publish Packages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "yarn"

      - name: Cache deps
        id: cache
        uses: actions/cache@v4
        with:
          path: |
            node_modules/
            packages/core/node_modules/
          key: ${{ runner.os }}-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --immutable
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

      - name: Verify
        run: yarn verify

      - run: npx -y pkg-pr-new publish ./packages/* --template './examples/*'
